[submodule "Ruby on Rails.tmbundle"]
	path = Pristine Copy/Bundles/Ruby on Rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "JSON.tmbundle"]
	path = Pristine Copy/Bundles/JSON.tmbundle
	url = git://github.com/textmate/json.tmbundle.git
[submodule "Ack In Project.tmbundle"]
	path = Pristine Copy/Bundles/Ack In Project.tmbundle
	url = git://github.com/protocool/ack-tmbundle.git
[submodule "Git.tmbundle"]
	path = Pristine Copy/Bundles/Git.tmbundle
	url = git://github.com/timcharper/git-tmbundle.git
