[submodule "Ruby on Rails.tmbundle"]
	path = Pristine Copy/Bundles/Ruby on Rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "JSON.tmbundle"]
	path = Pristine Copy/Bundles/JSON.tmbundle
	url = git://github.com/textmate/json.tmbundle.git
[submodule "Ack In Project.tmbundle"]
	path = Pristine Copy/Bundles/Ack In Project.tmbundle
	url = git://github.com/protocool/ack-tmbundle.git
[submodule "Git.tmbundle"]
	path = Pristine Copy/Bundles/Git.tmbundle
	url = git://github.com/timcharper/git-tmbundle.git
[submodule "Ruby-Haml.tmbundle"]
	path = Pristine Copy/Bundles/Ruby-Haml.tmbundle
	url = git://github.com/textmate/ruby-haml.tmbundle.git
[submodule "Ruby-Sass.tmbundle"]
	path = Pristine Copy/Bundles/Ruby-Sass.tmbundle
	url = git://github.com/charlesr/ruby-sass-tmbundle.git
[submodule "Sinatra.tmbundle"]
	path = Pristine Copy/Bundles/Sinatra.tmbundle
	url = git://github.com/foca/sinatra-tmbundle.git
[submodule "JavaScript Objective-J.tmbundle"]
	path = Pristine Copy/Bundles/JavaScript Objective-J.tmbundle
	url = git://github.com/textmate/javascript-objective-j.tmbundle.git
