[submodule "Pristine Copy/Bundles/Ruby on Rails.tmbundle"]
	path = Pristine Copy/Bundles/Ruby on Rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "Pristine Copy/Bundles/JSON.tmbundle"]
	path = Pristine Copy/Bundles/JSON.tmbundle
	url = git://github.com/textmate/json.tmbundle.git
